<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Futterfabrik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='icon' type='image/png'
          href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABVklEQVR42u3bvUrDUBjG8eec2EFcdXTy4w68CsVBcNALcHJSHMWiF6CDk5t3IlScRCRF0A51kFAQKxREyUdzvAVjQ5pw/s+ekPyS9z1vQmJO25dOHmemG776fP6y8jwAAAAAAAAAAIDHk2BpkrNz2lxfU2CqO/jhYKCb25d6ACysLGl3Z6PSq9d/CicGKK0ErDGV376OHgAAAAAAAEA95oCiSeJEuZtsIYvjpKEALtbR3omiUTrZfoxkrWkgQO6U5k42MPQAAAAAAAD/5gAbaHl1UfNxVnwByZ36vUiZazKAaengeP/fm1+0z3TXHflbAkEroAcAAAAAAADgK0CZX3VN6Y1Qpqvza71/xcVnKBk9h58NBxhnenzo6eN7TAkAAAAAAAAAAAAAAAAAAABMI6U9DQ7fInU697J/IDUu1U9aj3+1zPbWoaMEAAAAAAAAAAAAADzMLzAcUw+W/R9qAAAAAElFTkSuQmCC'>
    <style>
        html {
            background-color: #e9e9e9;
        }

        body {
            font-family: Ubuntu, sans-serif;
        }

        a {
            color: teal;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .container {
            max-width: 666px;
            margin: 2rem auto;
            padding: 1rem;
            background-color: white;
            border-radius: 3px;
        }

        details {
            margin-bottom: 1rem;
            padding-bottom: .5rem;
        }

        summary {
            cursor: pointer;
            font-weight: bold;
            font-size: larger;
        }

        summary:hover {
            color: teal;
        }

        details > div {
            margin: 1.25rem 1rem .5rem 1rem;
            border-bottom: 1px solid #ccc;
        }

        .field {
            margin-bottom: .33rem;
        }

        .field > label.pre {
            min-width: 6rem;
            display: inline-block;
            text-align: right;
        }

        .field > input {
            margin-left: .5rem;
            margin-right: .5rem;
            min-width: 15rem;
        }

        input:invalid {
            border: 1px solid #ff3333;
        }

        .field > label.post {
            color: #777;
        }

        .feed-links a {
            margin-left: .5rem;
            margin-right: .5rem;
            font-size: large;
            display: inline-block;
        }

        @media (prefers-color-scheme: dark) {
            html {
                background-color: #111;
            }

            body {
                color: #ccc;
            }

            .container {
                background-color: #333;
            }

            input {
                background: #333;
                color: white;
                border: 1px solid gray;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Futterfabrik</h1>
    <p>RSS / JSON Feed Generator</p>
    <noscript>
        <p style="color:red">Javascript is disabled</p>
    </noscript>
    {% for feed in feeds %}
        <details>
            <summary>{{ feed.title }}</summary>
            <div>
                {% if feed.description %}
                    <p>{{ feed.description }}</p>
                {% endif %}
                {% for field in feed.fields %}
                    <div class="field">
                        <label class="pre" for="{{ field.name }}">{{ field.title }}</label>
                        <input type="{{ field.type }}" name="{{ field.name }}" title="{{ field.title }}"
                               autocomplete="off"
                                {% if field.required %}
                               required="required"
                                {% elif not field.placeholder %}
                               placeholder="optional"
                                {% endif %}
                                {% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %}
                                {% if field.pattern %} pattern="{{ field.pattern }}" {% endif %}
                                {% if field.min %} min="{{ field.min }}" {% endif %}
                               oninput='updateUrls({{ feed.name | tojson }})'
                               data-feed="{{ feed.name }}" data-field="{{ field.name }}"
                        />
                        <label class="post" for="{{ field.name }}">{{ field.info }}</label>
                    </div>
                {% endfor %}
                <p class="feed-links">
                    <a data-feed="{{ feed.name }}" data-format="rss" href="{{ build_feed_url('rss', feed) }}"
                       target="_blank" rel="noopener noreferrer">RSS</a>
                    <a data-feed="{{ feed.name }}" data-format="json" href="{{ build_feed_url('json', feed) }}"
                       target="_blank" rel="noopener noreferrer">JSON Feed</a>
                    {% if feed.homepage %}
                        <a href="{{ feed.homepage }}"
                           target="_blank" rel="noopener noreferrer">Homepage</a>
                    {% endif %}
                </p>
            </div>
        </details>
    {% endfor %}
</div>
<script>
    function updateUrls(feedName) {
        const params = new URLSearchParams()
        document.querySelectorAll('input[data-feed="' + feedName + '"]')
            .forEach(el => params.set(el.dataset.field, el.value))
        document.querySelectorAll('a[data-feed="' + feedName + '"]')
            .forEach(el => el.href = el.href.split('?')[0] + '?' + params.toString())
    }
</script>
</body>
</html>
